In [1]:
%load_ext autoreload
%autoreload 2

In [7]:
import sys
from pathlib import Path
from time import time
from copy import deepcopy
import yaml
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display
ROOT_PATH = Path().absolute().parent.parent
if str(ROOT_PATH) not in sys.path:
    sys.path.insert(1, str(ROOT_PATH))
from frequency_response import FrequencyResponse
from peq import PEQ
from constants import DEFAULT_FS, PEQ_CONFIGS

In [3]:
dir_path = Path().absolute()
config_names = [
    ['4_PEAKING_WITH_LOW_SHELF'],
    ['4_PEAKING_WITH_LOW_SHELF', '4_PEAKING_WITH_HIGH_SHELF'],
    ['8_PEAKING_WITH_SHELVES'],
    ['10_BAND_GRAPHIC_EQ'],
]

In [37]:
def rmse(peq):
    fr = FrequencyResponse(name='rmse', frequency=peq.f, target=peq.target, equalization=peq.fr)
    fr.interpolate()
    ix10k = np.argmin(np.abs(10000 - fr.frequency))
    return np.sqrt(np.mean(np.square(fr.target[:ix10k] - fr.equalization[:ix10k])))

In [33]:
def stats(configs, max_n=None):
    df = []
    n = 0
    for fp in ROOT_PATH.joinpath('results', 'oratory1990').glob('*/*/*.csv'):
        fr = FrequencyResponse.read_from_csv(fp)
        t = time()
        peqs = fr.optimize_parametric_eq(configs, DEFAULT_FS, max_time=5)
        t = time() - t
        df.append([t, rmse(peqs[-1])])
        n += 1
        if max_n is not None and n >= max_n:
            break
    df = pd.DataFrame(df, columns=['Time', 'RMSE'])
    return df.describe()

**NOTE** There is no parameter for controlling interpolation in `FrequencyResponse._optimize_peq_filters()` so adjust the code in the fuction manually before executing these cells!

In [48]:
print('f_step 1.01')
display(stats([PEQ_CONFIGS['8_PEAKING_WITH_SHELVES']], max_n=20))

f_step 1.01

            Time       RMSE
count  20.000000  20.000000
mean    0.490627   0.313568
std     0.143410   0.137854
min     0.293067   0.174267
25%     0.371335   0.220162
50%     0.490111   0.282836
75%     0.576038   0.332734
max     0.786183   0.683502

In [49]:
print('f_step 1.02')
display(stats([PEQ_CONFIGS['8_PEAKING_WITH_SHELVES']], max_n=20))

f_step 1.02

            Time       RMSE
count  20.000000  20.000000
mean    0.433307   0.318884
std     0.095751   0.125600
min     0.304387   0.168804
25%     0.375835   0.241232
50%     0.404910   0.305026
75%     0.462516   0.349723
max     0.677166   0.740785

In [50]:
print('f_step 1.03')
display(stats([PEQ_CONFIGS['8_PEAKING_WITH_SHELVES']], max_n=20))

f_step 1.03

            Time       RMSE
count  20.000000  20.000000
mean    0.469145   0.342186
std     0.146370   0.165316
min     0.291099   0.174010
25%     0.339576   0.248767
50%     0.426119   0.275970
75%     0.577326   0.374984
max     0.710246   0.819992

In [51]:
print('f_step 1.01')
display(stats([PEQ_CONFIGS['4_PEAKING_WITH_LOW_SHELF'], PEQ_CONFIGS['4_PEAKING_WITH_HIGH_SHELF']], max_n=20))

f_step 1.01

            Time       RMSE
count  20.000000  20.000000
mean    0.222978   0.314044
std     0.092593   0.088787
min     0.122028   0.178495
25%     0.163537   0.253545
50%     0.193045   0.296568
75%     0.248011   0.331002
max     0.424567   0.499415

In [52]:
print('f_step 1.02')
display(stats([PEQ_CONFIGS['4_PEAKING_WITH_LOW_SHELF'], PEQ_CONFIGS['4_PEAKING_WITH_HIGH_SHELF']], max_n=20))

f_step 1.02

            Time       RMSE
count  20.000000  20.000000
mean    0.163916   0.328147
std     0.046250   0.076914
min     0.100023   0.207823
25%     0.139673   0.270848
50%     0.158536   0.312249
75%     0.171789   0.376613
max     0.304069   0.500855

In [47]:
print('f_step 1.03')
display(stats([PEQ_CONFIGS['4_PEAKING_WITH_LOW_SHELF'], PEQ_CONFIGS['4_PEAKING_WITH_HIGH_SHELF']], max_n=20))

f_step 1.03

            Time       RMSE
count  20.000000  20.000000
mean    0.165137   0.347568
std     0.039467   0.123613
min     0.109025   0.184121
25%     0.144032   0.266058
50%     0.162537   0.307088
75%     0.177540   0.424396
max     0.275062   0.707640

In [46]:
print('f_step 1.04')
display(stats([PEQ_CONFIGS['4_PEAKING_WITH_LOW_SHELF'], PEQ_CONFIGS['4_PEAKING_WITH_HIGH_SHELF']], max_n=20))

f_step 1.04

            Time       RMSE
count  20.000000  20.000000
mean    0.172389   0.369976
std     0.049377   0.130566
min     0.110025   0.223741
25%     0.144533   0.318500
50%     0.160036   0.333310
75%     0.182541   0.412655
max     0.288065   0.796133